h1 Hello

if request && request.auth && request.auth.isAuthenticated
  p: a(href='/login/out') Logout
else
  p: a(href='/login/github') Login with github

pre= JSON.stringify(request.auth, null, ' ')
